<a href="https://colab.research.google.com/github/nc9107/TensorflowProjects/blob/main/AdmissionPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



> Project Dependencies

In [ ]:
import pandas as pd 
import numpy as np

import tensorflow as tf 
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.layers import Dense, Dropout, InputLayer
from tensorflow.keras.callbacks import EarlyStopping



from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, Normalizer
from sklearn.metrics import r2_score

import matplotlib.pyplot as plt

## EDA

In [ ]:
dataset = pd.read_csv('admissions_data.csv')
dataset.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [ ]:
# Feature - Label Split 

features = dataset.iloc[:,1:-1]
labels = dataset.iloc[:,-1]

In [ ]:
feature_train, feature_test, label_train, label_test = train_test_split(features, labels, test_size = 0.33, random_state = 42)

In [ ]:
# Standardizing Data 

st = StandardScaler()

feature_train_scaled = st.fit_transform(feature_train)
feature_test_scaled = st.transform(feature_test)

In [ ]:
feature_train_scaled = pd.DataFrame(feature_train_scaled)
feature_test_scaled = pd.DataFrame(feature_test_scaled)

In [ ]:
print(feature_train_scaled.head())

          0         1         2         3         4         5         6
0 -0.525175 -0.706986 -0.082885 -1.385311  0.538819 -0.835766 -1.144703
1  0.477036  0.276434  1.652517  1.123225 -0.001613  0.363045 -1.144703
2 -0.798505 -1.034792 -0.950586 -0.381897  0.538819 -1.156574 -1.144703
3  0.203706 -0.706986 -0.082885 -0.883604  0.538819  0.295507  0.873589
4  1.297027  1.423757  1.652517  1.624933  1.619684  1.342356  0.873589

In [ ]:
print("Feature Train Shape: " + str(feature_train_scaled.shape[1]))
print("Label Train Shape: " + str(label_train.shape))

Feature Train Shape: 7
Label Train Shape: (335,)

In [ ]:
model = Sequential([
            InputLayer(input_shape=(feature_train_scaled.shape[1],)),
            Dense(128, activation='relu'),
            Dropout(0.2),
            Dense(128, activation='relu'),
            Dropout(0.3),
            Dense(64, activation='relu'),
            Dense(1)
])

In [ ]:
opt = Adam(learning_rate=0.01)

In [ ]:
model.compile(optimizer = 'adam', loss=tf.keras.losses.mean_squared_error, metrics=['accuracy', 'mae'])

In [ ]:
EPOCHS = 40
history = model.fit(feature_train_scaled,label_train, epochs=EPOCHS, batch_size=10, verbose=1)

Epoch 1/40
34/34 [==============================] - 2s 6ms/step - loss: 0.0970 - accuracy: 0.0000e+00 - mae: 0.2447
Epoch 2/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0199 - accuracy: 0.0000e+00 - mae: 0.1150
Epoch 3/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0177 - accuracy: 0.0000e+00 - mae: 0.1049
Epoch 4/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0130 - accuracy: 0.0000e+00 - mae: 0.0913
Epoch 5/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0095 - accuracy: 0.0000e+00 - mae: 0.0767
Epoch 6/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0081 - accuracy: 0.0000e+00 - mae: 0.0712
Epoch 7/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0085 - accuracy: 0.0000e+00 - mae: 0.0736
Epoch 8/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0074 - accuracy: 0.0000e+00 - mae: 0.0677
Epoch 9/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0066 - accuracy: 0.0000e+00 - mae: 0.0633
Epoch 10/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0068 - accuracy: 0.0000e+00 - mae: 0.0655
Epoch 11/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0063 - accuracy: 0.0000e+00 - mae: 0.0623
Epoch 12/40
34/34 [==============================] - 0s 6ms/step - loss: 0.0063 - accuracy: 0.0000e+00 - mae: 0.0622
Epoch 13/40
34/34 [==============================] - 0s 7ms/step - loss: 0.0057 - accuracy: 0.0000e+00 - mae: 0.0594
Epoch 14/40
34/34 [==============================] - 0s 8ms/step - loss: 0.0060 - accuracy: 0.0000e+00 - mae: 0.0614
Epoch 15/40
34/34 [==============================] - 0s 6ms/step - loss: 0.0056 - accuracy: 0.0000e+00 - mae: 0.0580
Epoch 16/40
34/34 [==============================] - 0s 6ms/step - loss: 0.0046 - accuracy: 0.0000e+00 - mae: 0.0527
Epoch 17/40
34/34 [==============================] - 0s 4ms/step - loss: 0.0052 - accuracy: 0.0000e+00 - mae: 0.0591
Epoch 18/40
34/34 [==============================] - 0s 6ms/step - loss: 0.0045 - accuracy: 0.0000e+00 - mae: 0.0499
Epoch 19/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0038 - accuracy: 0.0000e+00 - mae: 0.0480
Epoch 20/40
34/34 [==============================] - 0s 6ms/step - loss: 0.0043 - accuracy: 0.0000e+00 - mae: 0.0511
Epoch 21/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0040 - accuracy: 0.0000e+00 - mae: 0.0501
Epoch 22/40
34/34 [==============================] - 0s 7ms/step - loss: 0.0044 - accuracy: 0.0000e+00 - mae: 0.0516
Epoch 23/40
34/34 [==============================] - 0s 6ms/step - loss: 0.0050 - accuracy: 0.0000e+00 - mae: 0.0548
Epoch 24/40
34/34 [==============================] - 0s 6ms/step - loss: 0.0037 - accuracy: 0.0000e+00 - mae: 0.0469
Epoch 25/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0043 - accuracy: 0.0000e+00 - mae: 0.0519
Epoch 26/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0043 - accuracy: 0.0000e+00 - mae: 0.0522
Epoch 27/40
34/34 [==============================] - 0s 6ms/step - loss: 0.0034 - accuracy: 0.0000e+00 - mae: 0.0456
Epoch 28/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0034 - accuracy: 0.0000e+00 - mae: 0.0440
Epoch 29/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0033 - accuracy: 0.0000e+00 - mae: 0.0448
Epoch 30/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0033 - accuracy: 0.0000e+00 - mae: 0.0446
Epoch 31/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0037 - accuracy: 0.0000e+00 - mae: 0.0474
Epoch 32/40
34/34 [==============================] - 0s 8ms/step - loss: 0.0033 - accuracy: 0.0000e+00 - mae: 0.0440
Epoch 33/40
34/34 [==============================] - 0s 8ms/step - loss: 0.0034 - accuracy: 0.0000e+00 - mae: 0.0438
Epoch 34/40
34/34 [==============================] - 0s 6ms/step - loss: 0.0029 - accuracy: 0.0000e+00 - mae: 0.0417
Epoch 35/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0031 - accuracy: 0.0000e+00 - mae: 0.0431
Epoch 36/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0029 - accuracy: 0.0000e+00 - mae: 0.0405
Epoch 37/40
34/34 [==============================] - 0s 6ms/step - loss: 0.0030 - accuracy: 0.0000e+00 - mae: 0.0420
Epoch 38/40
34/34 [==============================] - 0s 7ms/step - loss: 0.0029 - accuracy: 0.0000e+00 - mae: 0.0409
Epoch 39/40
34/34 [==============================] - 0s 5ms/step - loss: 0.0034 - accuracy: 0.0000e+00 - mae: 0.0452
Epoch 40/40
34/34 [==============================] - 0s 4ms/step - loss: 0.0033 - accuracy: 0.0000e+00 - mae: 0.0456

In [ ]:
# error_mse, error_mae = model.evaluate(feature_test_scaled, label_test, verbose=0 )

# print('Error_mse: ' , str(error_mse*100))
# print('Error_mae: ', str(error_mae*100))

ValueError: ignored

In [ ]:
# fig = plt.figure()
# ax1 = fig.add_subplot(2, 1, 1)
# ax1.plot(history.history['mae'])
# ax1.plot(history.history['val_mae'])
# ax1.set_title('model mae')
# ax1.set_ylabel('MAE')
# ax1.set_xlabel('epoch')
# ax1.legend(['train', 'validation'], loc='upper left')
 
#   # Plot loss and val_loss over each epoch
# ax2 = fig.add_subplot(2, 1, 2)
# ax2.plot(history.history['loss'])
# ax2.plot(history.history['val_loss'])
# ax2.set_title('model loss')
# ax2.set_ylabel('loss')
# ax2.set_xlabel('epoch')
# ax2.legend(['train', 'validation'], loc='upper left')
 
# # used to keep plots from overlapping each other  
# fig.tight_layout()
# fig.savefig('static/images/my_plots.png')

##r2 score

In [ ]:
predicted_values = model.predict(feature_test_scaled) 
print(r2_score(label_test, predicted_values))

0.6780958205969752